@import url('css/hover.css');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(images/site/034.jpg);
}

.avatar {
    padding: 10%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropbtn {
    background-color: #222222;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

textarea {
    cursor: pointer;
}

.body-text {
    margin-top: 3px;
    padding-top: 3px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    /* Links inside the dropdown */
    .dropdown-content li {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: inherit;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content li:hover {
            background-color: #0f52f3;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0f52f3;
}

.th {
    margin-left: 10px;
    margin-top: 20px;
    padding: 12px 16px;
}

.side-bar-nav {
    background-color: #222;
    border-color: #080808;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 10px 10px;
}

.jumbotron {
    margin-left: 10px;
    margin-top: 10px;
}

.rightMenu {
    position: absolute;
    float: right;
    top: 0;
    left: 105px;
}

.right {
    float: right;
}

footer {
    color: black;
    text-align: center;
    font-size: 16px;
}

.body-content-post {
    word-wrap: break-word;
}

.btn-search {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.search-field {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    border-radius: 5px;
}



/*/*/ /*/*/ /*/*/ /*/*/
* {
    font-family: 'Open Sans', sans-serif;
}

.well {
    margin-top: -20px;
    background-color: #007FBD;
    border: 2px solid #0077B2;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

    .well:hover {
        margin-top: -20px;
        background-color: #0077B2;
        border: 2px solid #0077B2;
        text-align: center;
        cursor: pointer;
        font-size: 25px;
        padding: 15px;
        border-radius: 0px !important;
        border-bottom: 2px solid rgba(97, 203, 255, 0.65);
    }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #080808;
    background-color: #F1F1F1;
}



.bg_blur {
    /*background-image:url('http://data2.whicdn.com/images/139218968/large.jpg');*/
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

    .follow_btn:hover {
        text-decoration: none;
        position: absolute;
        left: 35%;
        top: 42.5%;
        width: 35%;
        height: 15%;
        background-color: #007FBE;
        padding: 10px;
        padding-top: 6px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        border: 4px solid rgba(255, 255, 255, 0.8);
    }

.header {
    color: #808080;
    margin-left: 10%;
    margin-top: 70px;
}

.picture {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 75px;
    left: -75px;
}

.picture_mob {
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style {
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

    .btn-style:hover {
        color: #333;
        background-color: #3D5DE0;
        border-color: #adadad;
        width: 33.3%;
    }


@media (max-width: 767px) {
    .header {
        text-align: center;
    }



    .nav {
        margin-top: 30px;
    }
}

.panel-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.row-panel {
    background-color: transparent;
}

img:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.container-profile {
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.panel-default {
    margin-top: 10px;
}

.anchor {
    display: inline-block;
}

.anchor-time {
    font-size: 13px;
}

.panel-default {
    background: rgba(52, 61, 83, .3);
}

.row-home {
    margin-left: -25px;
}

.media-title {
    margin-top: 0px;
}

.text-danger {
    margin-left: 20px;
    font-size: 18px;
    color: lightblue;
}

.btn-create:hover {
    border-color: lightblue;
}

.btn-link:hover {
    text-decoration: none;
    color: lightblue;
}


.btn-user {
    font-size: 18px;
    margin-left: -2px;
}

    .btn-user:hover {
        background-color: #222222 !important;
        font-size: 18px;
        color: lightblue;
    }

.navbar-brand {
    color: #337ab7 !important;
    font-size:16px;
}

    .navbar-brand:hover {
        color: lightblue !important;
    }

.side-bar-nav {
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

.rightMenu {
    margin-left: 10px;
    border-radius: 4px;
    background-color: #222222;
    margin-top: -10px;
    height: 107px;
}

.h5-dropdownmenu {
    margin-left: 10px;
}

.anchor-username {
    color: #4e8abd;
}

    .anchor-username:hover {
        color: lightblue;
        text-decoration: none;
    }

.my-btns {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

    .my-btns:hover {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
        background-color: transparent;
        color: black;
    }

.form-control {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    font-size: 16px;
    cursor: text;
}

.reg-log {
    color: #4e8abd;
    font-family: 'Yu Gothic UI';
    font-size: 16px !important;
    font-weight: bold;
}

    .reg-log:hover {
        font-size: 16px;
        color: lightblue;
        text-decoration: none;
        font-family: 'Yu Gothic UI';
        font-weight: bold;
    }

.form-horizontal-edit {
    color: black;
}

.title-h1 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 40px !important;
    color: black;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
    margin-left:25px;
    margin-right:-25px;
}

.resize-box {
    resize: none;
}

table tr:nth-child(even) td {
    border-top: 1px solid #000000;
}

table tr:nth-child(odd) td {
    border-top: 1px solid #000000;
}

.edit-delete-details {
    font-size: 16px;
    font-family: 'Yu Gothic UI';
    font-weight: bold;
}

.delete {
    color: black;
}

.btn-delete {
    margin-left: 100px;
}

.btn-back {
    color: black;
    font-size: 16px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alert-error {
  background-image: -webkit-linear-gradient(top, #f10505 0%, #f10505 100%);
  background-image:      -o-linear-gradient(top, #f10505 0%, #f10505 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f10505), to(#f10505));
  background-image:         linear-gradient(to bottom, #f10505 0%, #f10505 100%);
  
  background-repeat: repeat-x;
  border-color: #f10505;
}

.image-choose{
    background-color:transparent !important;
    color:black;
    border:none;
}

.image-choose:hover{
    background-color:transparent !important;
    color:black;
    border:none;
}

.table {
margin-left:25px;
}
.tr-my-posts-head {
font-size:17px;
}
.tr-my-posts {
font-size:15px;
}

.search-user-style{
font-size:22px;
}

    .side-bar-nav2 {
    text-align:center;
    }

.btn-back {
margin-left:30px;
}

.responsive-video {
    margin-bottom:10px;
}

.notifications{
    color: #337ab7 !important;
    text-align:center;
    font-size:16px;
    font-family:'Yu Gothic';
    font-weight:bold;
}

.description{
    font-family:'Yu Gothic';
    font-weight:bold;
    margin-left:3px;
}

.com {
    display:inline-block;
}

.com-form {
 background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    margin-left: 7px;
    margin-right: 15px;
    font-size:15px;
    border-radius:4px;
    padding:5px;
    width:600px;
}

.post-image {
    max-width:60%;
    max-height:60%;
}