@model TeamProject.Models.PostDetailsViewModel
    
@if (ViewBag.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.Id }, new { @class = "btn btn-xs btn-info" })
    <span></span>
    @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-trash " })

}