@*Wrapper above*@
<script type="text/html" id="comment-template">
    <div class="comment-{{commentId}}">
        <div class="comment-form" id="comment-text">
            {{Text}}
            <br />
        </div>
    </div>
    <hr />
</script>
