@model TeamProject.Models.PostDetailsViewModel

@if (Model.Description != null)
{
    <div class="description">Description: @Model.Description</div>
}
else
{
    <p>No description</p>
}
@if (ViewBag.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.Id }, new { @class = "btn btn-default" })
    <span></span>
    @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-trash" })

}