@using TeamProject.Models

@model PostsViewModel
@foreach (var post in Model.Posts)
{
<section class="post-body">

    <div class="body-content-post">

        @if (post.Description != null)
        {
            <h4 class="post-description">Description:</h4>
                                <span class="description">@post.Description</span>
                                <hr />
        }
        <p class="body-text">@post.Body</p>
        @if (post.VideoUrl != null)
        {
            <div class="video">
                <iframe></iframe>
            </div>
        }

    </div>
</section>
}